.chirpWidth, .chirp {
  max-width: 35rem;
  width: 100%;
}

.chirp_icon_container {
  width: 3rem;
  padding: .75rem;
}
.chirp_icon_container > img {
  max-width: 100%;
  border-radius: 100%;
}

.chirp_content_container {
  width: 100%;
}

.chirp_header {
  gap: 0.25rem;
}
.chirp_header > .chirp_extra_controls_button > svg {
  width: 1rem;
}

/* buttons! */
.chirp_controls_footer > button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.chirp_controls_footer > button > svg {
  width: 1.25em;
  height: 1.25em;
  fill: var(--chirp-button-color);
}
.chirp_controls_footer > button > .filledHeart { fill: var(--filled-heart-color); }
.chirp_controls_footer > button > .filledRechirp { fill: var(--filled-rechirp-color); }


/* chirp editor */
textarea.chirp_editor_text, textarea.chirp_text {
  resize: none;
  border: none;
}
textarea.chirp_editor_text {
  margin-top: 1rem;
  font-size: 1.25rem;
}