.profile {
  max-width: var(--chirp-width);
  border-bottom: var(--chirp-outline-color) solid 1px;
  padding-bottom: 1rem;
}

.profile > .banner {
  position: relative;
  width: var(--chirp-width);
  height: 12rem;
}
.profile > .banner > .icon {
  position: absolute;
  width: 8rem;
  border-radius: 100000rem;

  bottom: -4rem;
  margin-left: 1rem;

  outline: solid var(--background-color) .3rem;
}
.profile > .banner > .buttons {
  position: absolute;
  width: calc(100% - 1rem);
  bottom: -3rem;
  gap: .5rem;
  padding-right: 1rem;
}
.profile > .banner > .buttons > button {
  height: 2rem;
  min-width: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1rem;
  border: 2px solid var(--chirp-outline-color);
  background-color: transparent;
}
.profile > .bio_container {
  padding-left: 1rem;
}
.profile > .bio_container > h1 {
  margin-top: 5rem;
  font-size: 1.2rem;
}
.profile > .bio_container > h2 {
  font-size: .8rem;
  color: var(--text-2);
  font-weight: normal;
  margin-bottom: 1rem;
}

/* profile editor */
.editProfileModal > form > div.labeled_input > input {
  width: 25rem;
}
.editProfileModal > form > div.labeled_input  {
  border: solid var(--text-2);
}
