.profile {
  max-width: var(--chirp-width)
}

.profile > .banner {
  position: relative;
  width: var(--chirp-width);
  height: 12rem;
}
.profile > .banner > .icon {
  position: absolute;
  width: 8rem;
  border-radius: 100000rem;

  bottom: -4rem;
  margin-left: 1rem;

  outline: solid var(--background-color) .3rem;
}
.profile > .banner > .buttons {
  position: absolute;
  width: 100%;
  bottom: -3rem;
  gap: .5rem;
}
.profile > .banner > .buttons > button {
  height: 2rem;
  min-width: 2rem;
  border-radius: 1rem;
}
.profile > .bio_container > h1 {
  margin-top: 5rem;
  font-size: 1.2rem;
}
.profile > .bio_container > h2 {
  font-size: .8rem;
  color: var(--text-2);
  font-weight: normal;
  margin-bottom: 1rem;
}

/* profile editor */
.editProfileModal > form > div.labeled_input > input {
  width: 25rem;
}
